<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISuperheroService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1502/SuperheroService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISuperheroService"
                contract="WCF.ISuperheroService" name="BasicHttpBinding_ISuperheroService" />
        </client>
    </system.serviceModel>
</configuration>